[*]
max_line_length = 140

[*.java]
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_java_layout_static_imports_separately = true
ij_java_spaces_around_equality_operators = true
ij_java_class_brace_style = next_line
ij_java_method_brace_style = next_line
ij_java_block_brace_style = next_line
ij_java_method_call_chain_wrap = on_every_item
ij_java_align_multiline_chained_methods = true
ij_java_keep_line_breaks = true
ij_java_align_group_field_declarations = true
ij_java_align_subsequent_simple_methods = true
ij_java_space_before_colon = true
ij_java_space_after_colon = true